/Guia 7 - Java/Cosas viendo todo completo/Manos a la obra/ManosALaObra7/nbproject/private/
/Guia 7 - Java/Cosas viendo todo completo/Manos a la obra/ManosALaObra7/build/
/Guia 7 - Java/Cosas viendo todo completo/Manos a la obra/ManosALaObra8/nbproject/private/
/Guia 7 - Java/Cosas viendo todo completo/Manos a la obra/ManosALaObra8/build/
/Guia 7 - Java/Cosas viendo todo completo/Manos a la obra/ManosALaObra9/nbproject/private/